/* 
    Created on : Jan 23, 2015, 4:52:21 PM
    Author     : K G
*/

a:hover, a:active {
color: red;
}

#header1 {
    background-color:black;    
    height:110px;    
    padding:5px;
 }
#header1a {
    float:right; 
    color:white;
}
  
#header1b {
   color:white;
   text-align:center;
  }

 #bread {
   width:1300px;
   text-align:right;
  }
 
 #logo{
      width:50px;
      height:50px;      
     
  }  
  
 #header1c {
    float:right;
    color:white;
 }
 
#header2 {
    background-color:grey;
    color:white;
    height:20px;
    text-align:center;
    padding:10px;
}
#navigator {
    line-height:30px;
    background-color:grey;
    height:410px;
    width:100px;
    float:left;
    padding:5px; 
}
#highlight {
    color:red   
}

#main {
    width:1200px;    
    text-align:center;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:right;
    padding:5px; 
}


.catalogPic{
    width:30px;
    height:30px; 
    padding:5px; 
    
}

.itemPic {
    width:100px;
    height:150px; 
    padding:5px; 
}

#return {
    float:right; 
}

#catTable {
    width:900px;
    height:50px; 
    padding:5px; 
}

#table {
    width:800px;
    height:50px; 
    padding:5px; 
}
#registerTable {
    alignment-adjust: middle;
    width:500px;
    height:50px; 
    padding:5px; 
}

#invoice1 {
    width:1200px;
    text-align: left;
}
#invoice2 {
    text-align: right;
}

#cat1 {
    width:1200px;
    
}
#cat2 {
    width:1200px;
    
}
#error {
    color:red;
    
}